<div
  id="animation1"
  class="animatedElementsContainerStyle"
  (mouseover)="setAnimationsStatus('pause')"
  (mouseout)="setAnimationsStatus('animate')"
>
  <div id="animatedItem1" class="animatedItem">
    <div class="contentContainer">
      <img src="/assets/img1.png" alt="image" style="width: 100%; height: 100%;">
    </div>
  </div>
  <div id="animatedItem2" class="animatedItem">
    <div class="contentContainer">
        <img src="/assets/img2.png" alt="image" style="width: 100%; height: 100%;">
    </div>
  </div>
  <div id="animatedItem3" class="animatedItem">
        <img src="/assets/img3.png" alt="image" style="width: 100%; height: 100%;">
  </div>
  <div id="animatedItem4" class="animatedItem">
        <img src="/assets/img4.png" alt="image" style="width: 100%; height: 100%;">
  </div>
  <div id="animatedItem5" class="animatedItem">
        <img src="/assets/img5.png" alt="image" style="width: 100%; height: 100%;">
  </div>
  <div id="animatedItem6" class="animatedItem">
        <img src="/assets/img6.png" alt="image" style="width: 100%; height: 100%;">
  </div>
</div>
